	/* From http://clearleft.com/thinks/270 */
	/* Credit to Charlotte Jackson */
	/* 15TH APRIL 2015 */
		
		* {
		  box-sizing: border-box;
		}
		body{
		  margin: 0 auto; 
		  max-width: 60em;
		  line-height: 1.3;
		}
		#speakers {
		  background-color: #f5f5f5;
		  margin-left: auto; 
		  max-width: 40em;
		  line-height: 1.3;
		  /*margin-left: auto;*/
		}
		#sponsors {
		  background-color: #f5f5f5;
		  margin-left: auto; 
		  max-width: 40em;
		  line-height: 1.3;
		}
		ul, li {
		  margin: 0;
		  padding: 0;
		  list-style: none;
		}
		img {
		  width: 100%;
		}
		h2 {
		  margin-top: 0;
		  margin-bottom: 0.4em;
		}
		.scheduleRegular {
		    border-bottom: 1px solid #d0d0d0;
		    padding: 10px 6px;
		    margin: 0px;
		}
		.scheduleLast{
		    padding: 10px 6px;
		    margin: 0px;
		}

		/*Flex items*/
		.list {
		  display: flex;
		  flex-wrap: wrap;
		}
		.list-item {
			display: flex; 
			padding: 0.5em;
			width: 100%;
		}
		@media all and (min-width: 40em) {
		  .list-item {
		    width: 50%;
		  }
		}
		@media all and (min-width: 60em) {
		  .list-item {
		    width: 33.33%;
		  }
		}
		.list-content {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			padding: 1em;
			width: 100%;
		}
		.list-content p {
		    flex: 1 0 auto;
		}
		.list-content-gold {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			padding: 1em;
			width: 100%;
		}
		.list-content-silver {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			padding: 1em;
			width: 100%;
		}
		.list-content-bronze {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			padding: 1em;
			width: 100%;
		}
		.list-content-grey {
			background-color: #ccc;
			display: flex;
			flex-direction: column;
			padding: 1em;
			width: 100%;
		}
		.scheduleTime{
			font-size: .9em;
			width: 50px;
			color: #999999;
		}
		.scheduleName{
			padding-left:20px;
		}
		.scheduleWhere{
			padding-right:20px;
			float: right;
		}
	
	/* End references from http://clearleft.com/thinks/270 -Charlotte Jackson */